.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

html {
  font-size: 16px; }

body {
  font-size: 100%;
  color: #333;
  line-height: 1.4;
  font-family: Arial,sans-serif; }

h1 {
  font-size: 3.125em;
  line-height: 1;
  color: #fff;
  margin: 0;
  font-weight: 100; }

h2 {
  font-size: 2.625em;
  margin: 0 0 0.5em;
  font-weight: 100;
  line-height: 1; }

h3 {
  font-size: 2.625em;
  margin: 0 0 0.1em;
  color: #fff;
  font-weight: normal;
  line-height: 1; }

h4 {
  font-size: 1.25em;
  margin: 0;
  color: #fff;
  font-weight: bold;
  line-height: 1; }

p {
  font-size: 0.9375em;
  margin: 0 0 1.25em;
  font-weight: normal; }

a,
a:link {
  text-decoration: none;
  color: #fff; }

a:hover,
a:focus,
a:active {
  color: #00AFF1; }

li {
  color: #fff;
  font-size: 0.9375em;
  line-height: 1;
  color: #fff;
  border-bottom: 1px dotted #fff;
  font-family: 'corporate_s_pro',sans-serif; }

ul {
  margin: 10px 0;
  list-style: none;
  padding: 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff; }

ul li:last-child {
  border: 0 !important; }

.floatRight {
  float: right; }

.floatLeft {
  float: left; }

.animate {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s; }

img {
  vertical-align: top;
  max-width: 100%; }

#wrapper {
  max-width: 1024px;
  margin: 0 auto;
  width: 100%; }

@media all and (max-width: 800px) {
  body {
    font-size: 80%; } }
