/*
Syntax error: Invalid CSS after "  position:": expected pseudoclass or pseudoelement, was " absolute;"
        on line 158 of site.scss

153: }
154: .fullImage a div{
155:   bottom: 0;
156:   right: 0;
157:   background:rgba(255,255,255,0.8)
158:   position: absolute;
159:   color:#000;
160:   font-weight: bold;
161:   padding:10px 20px;
162:   z-index:1;
163: }

Backtrace:
site.scss:158
C:/Development/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.8/lib/sass/scss/parser.rb:1312:in `expected'
C:/Development/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.8/lib/sass/scss/parser.rb:1248:in `expected'
C:/Development/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.8/lib/sass/scss/parser.rb:1228:in `expr!'
C:/Development/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.8/lib/sass/scss/parser.rb:914:in `pseudo'
C:/Development/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.8/lib/sass/scss/parser.rb:794:in `simple_selector_sequence'
C:/Development/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.8/lib/sass/scss/parser.rb:759:in `_selector'
C:/Development/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.8/lib/sass/scss/parser.rb:727:in `selector'
C:/Development/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.8/lib/sass/scss/parser.rb:710:in `selector_sequence'
C:/Development/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.8/lib/sass/scss/parser.rb:632:in `ruleset'
C:/Development/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.8/lib/sass/scss/parser.rb:697:in `block in declaration_or_ruleset'
C:/Development/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.8/lib/sass/scss/parser.rb:1288:in `call'
C:/Development/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.8/lib/sass/scss/parser.rb:1288:in `rethrow'
C:/Development/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.8/lib/sass/scss/parser.rb:698:in `declaration_or_ruleset'
C:/Development/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.8/lib/sass/scss/parser.rb:660:in `block_child'
C:/Development/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.8/lib/sass/scss/parser.rb:652:in `block_contents'
C:/Development/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.8/lib/sass/scss/parser.rb:641:in `block'
C:/Development/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.8/lib/sass/scss/parser.rb:634:in `ruleset'
C:/Development/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.8/lib/sass/scss/parser.rb:659:in `block_child'
C:/Development/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.8/lib/sass/scss/parser.rb:652:in `block_contents'
C:/Development/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.8/lib/sass/scss/parser.rb:116:in `stylesheet'
C:/Development/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.8/lib/sass/scss/parser.rb:41:in `parse'
C:/Development/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.8/lib/sass/engine.rb:409:in `_to_tree'
C:/Development/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.8/lib/sass/engine.rb:274:in `render'
C:/Development/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:378:in `update_stylesheet'
C:/Development/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:189:in `block in update_stylesheets'
C:/Development/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:186:in `each'
C:/Development/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.8/lib/sass/plugin/compiler.rb:186:in `update_stylesheets'
C:/Development/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.8/lib/sass/plugin.rb:82:in `update_stylesheets'
C:/Development/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.8/lib/sass/exec.rb:489:in `watch_or_update'
C:/Development/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.8/lib/sass/exec.rb:346:in `process_result'
C:/Development/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.8/lib/sass/exec.rb:43:in `parse'
C:/Development/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.8/lib/sass/exec.rb:22:in `parse!'
C:/Development/Ruby200-x64/lib/ruby/gems/2.0.0/gems/sass-3.3.8/bin/scss:13:in `<top (required)>'
C:/Development/Ruby200-x64/bin/scss:23:in `load'
C:/Development/Ruby200-x64/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"  position:\": expected pseudoclass or pseudoelement, was \" absolute;\"\A         on line 158 of site.scss\A \A 153: }\A 154: .fullImage a div{\A 155:   bottom: 0;\A 156:   right: 0;\A 157:   background:rgba(255,255,255,0.8)\A 158:   position: absolute;\A 159:   color:#000;\A 160:   font-weight: bold;\A 161:   padding:10px 20px;\A 162:   z-index:1;\A 163: }"; }
